main {
  width: 90%;
  max-width: 45rem;
  height: fit-content;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 5px 15px 8px #e4e7fb;
  box-shadow: 0px 5px 15px 8px #e4e7fb;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5rem;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem 2rem;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 0.5rem;
  }
}

h1 {
  font-family: "Rubik", sans-serif;
  font-size: 1.7rem;
  color: #141a39;
  cursor: default;
  text-align: center;
  
  @media (max-width: 768px) {
    font-size: 2.2rem;
  }
}

header p {
  font-size: 0.8rem;
}

#leaderboard {
  width: 100%;
  position: relative;
}

table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  color: #141a39;
  cursor: default;
}

tbody tr {
  transition: all 0.2s ease-in-out;
  border-radius: 0.2rem;
}

tbody tr:hover {
  background-color: #fff;
  transform: scale(1.1);
  -webkit-box-shadow: 0px 5px 15px 8px #e4e7fb;
  box-shadow: 0px 5px 15px 8px #e4e7fb;
}

tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}

tbody tr.top {
  background-color: #5c5be5;
  color: #fff;

  & .name {
    font-weight: 500;
  }
}

th {
  font-size: 1.2rem;
  padding: 0 2rem 0.5rem;
  position: relative;
  overflow: hidden;
}

th:first-child {
  width: 7rem;
}

th:last-child {
  width: 10rem;
}

td {
  height: 5rem;
  font-size: 1.4rem;
  padding: 1rem 1.5rem;
  position: relative;
  white-space: nowrap;

  @media (max-width: 768px) {
    height: auto;
  }
}

th:first-child, .rank {
  text-align: center;
}

.rank {
  font-size: 2.2rem;
  font-weight: bold;

  @media (max-width: 768px) {
    font-size: 1.5rem;
  }
}

.name {
  text-align: left;
  font-size: 1.4rem;
  overflow: hidden;
  text-overflow: ellipsis;

  @media (max-width: 768px) {
    font-size: 1.2rem;
  }
}

.score {
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;

  @media (max-width: 768px) {
    font-size: 1.2rem;
  }
}

.gold-medal {
  height: 3rem;
  margin-left: 1.5rem;
}

@media (max-width: 768px) {
    * {
      font-size: 80%;
    }
}
